/* COLOURS AND FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --red: #BD3B13;
  --darkRed: #7A3922;
  --lightRed: #F15622;
  --black: #373731;
  --off-white: #F0EFE5;
  --white: #FFFFFF;
  --fontFamily: 'Montserrat', sans-serif;
}

/* GENERAL STYLES */
html {
  /* makes 1rem === 10px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  background-color: var(--off-white);
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 10% 0 auto;
}

.aside {
  min-width: 20%;
  border-right: 3px solid var(--red);
  margin-right: 5%;
}

section {
  padding-bottom: 30px;
}

/* NAV STYLES */
.nav-section {
  padding-top: 10px;
  background-color: var(--black);
}

.nav-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section__name {
  font-size: 4rem;
  background-color: var(--red);
  font-weight: 600;
  padding: 5px 25px;
  color: var(--white);
  text-shadow: 2px 2px var(--black);
}

.navbar__list {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.navbar__link {
  text-decoration: none;  
  margin-left: 25px;
  padding-bottom: 7px;
  color: var(--white);
  border-bottom: 3px solid var(--red);
}

.navbar__link:hover {
  border-bottom: 3px solid var(--lightRed);
}

/* HEADER */
.header {
  height: 180px;
  position: relative;
  background-image: url(../Assets/images/placeholder-pattern.jpg);
  background-size: 100%;
}

.header__text {
  font-size: 3.5rem;
  font-weight: 600;
  background-color: var(--red);
  padding: 5px 25px;
  color: var(--white);
  text-shadow: 2px 2px var(--black);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: space-between;
}

.projects-container {
  width: 100%;
}

.projects__main {
  width: 100%;
  border: 2px solid red;
}

.projects__gallery {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 min(50%, 350px);
}

/* CONTACT */
.contact {
  display: flex;
  /* justify-content: space-between; */
}

.socials {
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials__link {
  padding: 0 35px;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: auto;
}