/* COLOURS AND FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --red: #BD3B13;
  --darkRed: #7A3922;
  --lightRed: #F15622;
  --black: #373731;
  --off-white: #F0EFE5;
  --white: #FFFFFF;
  --fontFamily: 'Montserrat', sans-serif;
  --transition: all 0.3s linear;
}

/* GENERAL STYLES */
html {
  /* makes 1rem === 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* { -moz-box-sizing: border-box;      -webkit-box-sizing: border-box;   box-sizing: border-box; 
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  background-color: var(--off-white);
  letter-spacing: 1px;
  line-height: 1.15;
}

.wrapper {
  max-width: 1440px;
  margin: 0 10%;
}

.aside {
  min-width: 20%;
  border-right: 5px solid var(--red);
  margin-right: 5%;
  text-align: end;
  padding-right: 10px;
}

h2 {
  font-size: 3.7rem;
  color: var(--red);
  font-weight: 600;
}

section {
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

/* NAV STYLES */
.nav-section {
  padding-top: 10px;
  background-color: var(--black);
}

.nav-section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section__name {
  font-size: 4rem;
  background-color: var(--red);
  font-weight: 600;
  padding: 5px 25px;
  color: var(--white);
  text-shadow: 2px 2px var(--black);
}

.navbar__list {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.navbar__link {
  margin-left: 25px;
  padding-bottom: 7px;
  color: var(--white);
  border-bottom: 3px solid var(--red);
}

.navbar__link:hover {
  border-bottom: 3px solid var(--lightRed);
}

/* TOGGLE BUTTON */
.toggle-btn {
  z-index: 2;
  background-color: transparent;
  border: none;
  display: none;
  transition: var(--transition);
}

.toggle-btn:hover {
  transform: rotate(90deg);
}

.fas.fa-bars {
  font-size: 3rem;
  color: var(--off-white);
  cursor: pointer;
}

.fas.fa-bars:hover {
  color: var(--red);
}

/* HEADER */
.header {
  height: 200px;
  position: relative;
  background-image: url(../Assets/images/placeholder-pattern.jpg);
  background-size: 100%;
}

.header__text {
  font-size: 3.5rem;
  font-weight: 600;
  background-color: var(--red);
  padding: 5px 25px;
  color: var(--white);
  text-shadow: 2px 2px var(--black);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about__article {
  font-size: 1.6rem;
}

.about__article p:first-child {
  margin-bottom: 20px;
}

/* PROJECTS */
.projects {
  display: flex;
}

.projects-container {
  width: 100%;
  padding-bottom: 0;
}

.projects__main {
  border: 5px solid var(--lightRed);
  position: relative;
}

.projects__main__img {
  width: 100%;
  display: block;
  opacity: 0.7;
}

.projects__main__img:hover {
  opacity: 1;
}

.main-card,
.card__container {
  background-color: var(--lightRed);
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  bottom: 15px;
}

.main-card__name,
.card__name {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
  text-shadow: 2px 2px var(--black);
}

.main-card__info,
.card__info {
  font-size: 1.3rem;
  padding-top: 5px;
}

.projects__gallery {
  margin-top: 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.card {
  flex: 1 0 45%;
  border: 5px solid var(--lightRed);
  height: 150px;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.card__img:hover {
  opacity: 1;
}

/* CONTACT */
.contact {
  display: flex;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link {
  padding-bottom: 6px;
  margin: 0 25px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  border-bottom: 4px solid var(--red);
}

.socials__link:hover {
  border-bottom: 4px solid var(--lightRed);
}

/* FOOTER */
footer {
  text-align: end;
  margin-top: auto;
  background-color: var(--black);
  padding: 20px;
  color: var(--white);
  font-size: 1.4rem;
  z-index: 2;
}

/* MEDIA QUERIES */
@media (max-width: 1060px) {
  .wrapper {
    max-width: 1050px;
    margin: 0 5% 0 0;
  }

  .about {
    margin-top: 30px;
  }
}

@media (max-width: 915px) {
  .wrapper {
    margin: 0 3%;
  }

  .header__text {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  .about {
    margin-top: 30px;
  }

  .about__article {
    font-size: 1.4rem;
  }

  .card {
    flex: 1 0 100%;
  }
}

@media (max-width: 750px) {
  .toggle-btn {
    display: block;
  }

  .navbar__list-container {
    display: none;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-color: #373731;
    z-index: 1;
    height: 1829px;
    opacity: 0.98;
  }
  
  .navbar__list li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--red);
  }
  
  .navbar__list li:first-child {
    margin-top: 48px;
  }
  
  .navbar__link {
    padding: 15px 25px;
    margin-left: 0;
    color: var(--white);
    border-bottom: none;
  }
  
  .navbar__link:hover {
    color: #ccebf3;
    border-bottom: none;
    background-color: #454541;
  }

  .navbar__list-container.active {
    display: block;
  }

  .header {
    height: 170px;
  }

  .header__text {
      font-size: 2.8rem;
  }

  h2 {
    padding-bottom: 15px;
  }

  .about,
  .projects,
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aside {
    min-width: 100%;
    border-right: none;
    border-bottom: 3px solid var(--red);
    margin-right: 0;
    margin-bottom: 3%;
    text-align: center;
    padding-right: 0;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 660px) {
  .nav-section__name {
      font-size: 3.2rem;
      padding: 5px 25px;
  }

  .navbar__list {
    font-size: 1.6rem;
  }

  .header {
    height: 160px;
  }
  
  .header__text {
    font-size: 2.6rem;
  }
}

@media (max-width: 545px) {
  .navbar__list {
    width: 50%;
  }

  .nav-section__name {
    font-size: 2.8rem;
    padding: 5px 15px;
    margin-left: 0;
  }

  .about__article {
    font-size: 1.2rem;
  }
}